.element__like_active {
    all: unset;
    max-width: 22px;
    width: 100%;
    max-height: 19px;
    margin-top: 5px;
    margin-right: 5px;
    background-size: cover;
    cursor: pointer;
    background-image: url(../../../../images/like_btn_black.svg);
}