.popup__form-field {
    position: relative;
    margin: 47px 36px 30px;
    max-width: 358px;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
}

.popup__form-field:last-of-type {
    margin: 0 36px 48px;
}

@media screen and (max-width: 767px) {
    .popup__form-field {
        margin: 75px 22px 30px;
    }

    .popup__form-field:last-of-type {
        margin: 0 22px 45px;
    }
}